<script type="application/ld+json">
     {"@context": "http://schema.org",
     "@type": "WebSite",
     "name": "Representative Biography",
     "url": "{{- .Site.BaseURL -}}"
     }
</script>
<script type="application/ld+json">
{"@context": "http://schema.org",
"@type": "Organization",
"name": "Repbio",
"url": "{{- .Site.BaseURL -}}",
"logo": "{{.Site.BaseURL}}slogo.svg",
"email": "info@repbio.org",
"description": "repbio.org is your number one spot to Contact to your Representatives. ",
"founder": {
     "@type": "Person",
     "name": "john shim"
},
"sameAs": [""]
}
</script>