*, ::after, ::before{padding: 0;margin: 0;box-sizing: border-box;}
:focus { outline: 0;}
body {margin: 0;padding: 0;font-family: verdana;}
.containt_Wrap {
    float: left;
    width: 100%;
    background: #ededed;
    padding: 30px 0;
}
.container {
    width: 1166px;
    margin: auto;
}
.dividContainer {
    display: grid;
    grid-template-columns: 870px auto;
    grid-gap: 20px;
}
.interectRigion {
    float: left;
    width: 100%;
}
.heading_1 {
    background: #5f5f5f;
    color: #fff;
    padding: 7px 16px;
    float: left;
    font-size: 13px;
    border-radius: 4px 4px 0 0;
}
.int_reg_form {
    float: left;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background: #2d2d2d;
    color: #fff;
    padding: 15px 15px;
    align-items: center;
    grid-gap: 12px;
    border-radius: 0 0 4px 4px;
}
.frm_part_1 {
    display: grid;
    grid-gap: 7px;
    align-self: end;
}
.frm_part_1 select {
    padding: 2px 2px;
}
#regioncode {
    width: 190px;
}
#regioncode option:disabled {
    color: #cecece;
  }
.frm_part_1 input[type="text"] {
    padding: 2px;
}
.btn_1 {
    background: #2daa78;
    border: none;
    padding: 7px 20px;
    font-weight: bold;
    color: #ffff;
    border-radius: 4px;
    cursor: pointer;
}
.leftPart {
    float: left; 
    width: 100%;
    z-index: 0;
}
/*=============*/
.mgPreview {
    margin-top: 30px;
    float: left;
    width: 100%;
    background: #fff;
    text-align: center;
}
/*===============*/
.rightPart {
    width: 276px;
    z-index: 9;
}
.mapChange_wrap {
    margin-bottom: 30px;
}
.mapChange {
    display: grid;
    background: #2d2d2d;
    color: #fff;
    padding: 20px 20px;
    grid-gap: 20px;
    width: 100%;
}
.frm_part_2 {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}
.frm_part_2 select {
    padding: 2px;
    width: 100%;
}
.frm_part_2 input[type="text"] {
    padding: 2px;
}
.frm_under_1 {
    display: grid;
    grid-template-columns: auto 40px;
    grid-gap: 10px;
    padding-top: 5px;
}
#mrksize {
    font-size: 12px;
    align-self: center;
    color: #c7c7c7;
}
#txtmodeclrWrap {
display: none;
}
/*==========*/
.settings {
    float: left;
    width: 100%;
}
.mapSettings {
    display: grid;
    grid-gap: 20px;
    float: left;
    width: 100%;
    background: #2d2d2d;
    padding: 20px;
    color: #fff;
}
/* rich text editor */

.mceArea {
    float: left;
    width: 100%;
    background: #fff;
    margin-top: 6px;
    display: grid;
}
.heading_2{
    background-color: #676767;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding: 6px 10px;
}
#popupText {
    width: 100%;
}
.nicEdit-main  {
    padding: 10px 20px;
}
.nicEdit-main ul,.nicEdit-main ol {
    padding-left: 30px;
}

/*==== list added ====*/
#addedList {
    float: left;
    width: 100%;
    margin-top: 20px;
}
#addedList ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
}
#addedList ul li {
    float: left;
    padding-right: 16px;
    font-size: 12px;
    background: #fff;
    padding: 5px 5px
}
#addedList li .cntclr {
    padding: 1px 10px;
}
#addedList li .cnt {
    padding-left: 5px;
}
.valueRemove {
    font-weight: bold;
    padding: 2px 4px;
    color: red;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}
/*generate button */
#buttonGeneratorWrap {
    float: left;
    width: 100%;
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto 560px;
    align-items: center;
    padding: 10px 10px;
    border: thin solid #7cdcb6;
    display: grid;
    grid-template-columns: auto auto 200px;
    grid-gap: 10px;
}
#seperateCode label {
    padding-right: 20px;
    font-weight: bold;
    cursor: pointer;
}
#buttonGeneratorWrap .btn_1 {
    width: 100%;
    padding: 15px 15px;
    font-size: 14px;
}
.resetBtn{
    background-color: #f4630b;
}
/*script showing area*/
#showScript, #showScriptSingle, #showGetSettings,#showLoadSettings {
    position: fixed;
    top: 25%;
    right: 15px;
    width: 50%;
    background: #6c6c6c;
    padding: 0px 20px;
    border-radius: 4px;
    display: none;
    z-index: 99;
}
.tabWrab {
    float: left;
    width: 100%;
    margin-bottom: 14px;
}
.tabWrab button {
    background: #404040;;
    border: none;
    padding: 10px 25px;
    float: left;
    color: #e2e2e2;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
}
.tabWrab button.active {
    background: none}
pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    height: 300px;
}
.code{display: none;}
.code.active{display: block;}
.copy {
    padding: 7px 20px;
    background: #27ad85;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
#close {
    position: absolute;
    top: -15px;
    right: -14px;
    padding: 10px 15px 12px;
    border-radius: 50%;
    border: none;
    background: #b81d1d;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.copied {
    position: absolute;
    top: 50%;
    left: 50%;
    color: green;
    font-size: 18px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    transition: 0.5s all;
    opacity: 0;
    visibility: hidden;
}
.copied.active {
    opacity: 1;
    visibility: visible;
    top: 40%;
}
.script_des {
    font-size: 12px;
    color: #f0f0f0;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#showLoadSettings {
    padding-top: 20px;
}
.loadsettingsWrap {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.loadsettingsWrap textarea {
    height: 100%;
}
.loadsettingsWrap button {
    padding: 10px;
    background: #2daa78;
    border: navajowhite;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.settingWrap {
    
    display: grid;
    grid-template-columns: auto auto;
}
.settingWrap button {
    background: #5f5f5f;
    padding: 15px 2px;
    height: 100%;
    color: #fff;
    border: none;
    cursor: pointer;
}
.settingWrap button:nth-child(2) {
    
    background: #122525;
}
/*loader*/
#loaderWrap{
    position: fixed;
    width: 100%;
    height: 100%;
}
.loader {
    margin: auto;
    border: 10px solid #666666;
    border-radius: 50%;
    border-top: 10px solid #FF7A59;
    width: 50px;
    height: 50px;
    animation: spinner 0.5s linear infinite;
    position: relative;
    top: 45%;
    transform: translateY(-45%);
}
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /*loader end*/
