<div class='page-footer grey darken-1' style="position: relative; z-index: 100">
     <div class='page-wrap'>
         <!-- <div class='row page-margin'>
              <div class='col xl5 l5 m12 s12'>
                  <h5 class='white-text'>ContactGovernors.com</h5>
                  <p class="white-text">All information is based on public available information.</p>
              </div>
              <div class='col xl1 l1 hide-on-med-and-down'>
              </div>
             <div class='col xl5 l5 m12 s12'>
                 <h5 class='white-text'>Site Links</h5>
                 <ul>
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}power' id='courses'>Governors Role</a></li>
                    <br /> 
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}about' id='about'>How To Contact My Governors </a></li>
                    <br />
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}salary' id='salary'>Governorss salary and benefits</a></li>
                 </ul>
             </div>
             <div class='col xl2 l2 hide-on-med-and-down'>
             </div>
             
         </div> -->
     </div>
     <div class='footer-copyright'>
         <div class='container center'>
             © {{ now.Year }} All information is based on public available information.
         </div>
     </div>
</div>
